@import "tailwindcss";

/* CONFIGURACIÓN DEL TEMA TAILWIND V4 */
@theme {
  /* Mapeo de fuentes a clases de Tailwind (.font-display y .font-body) */
  --font-display: var(--font-family-display), ui-sans-serif, system-ui;
  --font-body: var(--font-family-body), ui-sans-serif, system-ui;

  /* Colores Identitarios Globin */
  --color-primary: #C4F04D;         /* Verde Flúor Principal */
  --color-primary-dark: #A2CB19;    /* Verde Lima */
  --color-dark-bg: #03120F;         /* Fondo Negro-Verde */
  --color-dark-card: #06231D;       /* Verde Oscuro de Contenedores */
  --color-text-main: #D6CECE;       /* Gris claro para lectura */
}

/* REGLAS BASE PARA TODO EL SITIO */
@layer base {
  * {
    @apply border-white/10;
  }

  /* Nunito por defecto para TODO */
  html, body {
    font-family: var(--font-family-body);
    @apply  text-text-main;
  }

  /* UrbanCat para todos los títulos automáticamente */
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-display);
    @apply text-white font-medium tracking-tight;
  }

  /* Estilizamos los links por defecto */
  a {
    @apply transition-colors duration-300;
  }
}

/* COMPONENTES REUTILIZABLES */
@layer components {
  /* El botón "Globin" perfecto */
  .btn-primary {
    @apply px-8 py-3 rounded-xl font-display font-bold uppercase tracking-tighter 
           bg-primary text-dark-bg transition-all hover:scale-105 
           shadow-[0_0_30px_rgba(196,240,77,0.2)];
  }

  /* Tarjetas con efecto glassmorphism */
  .glass-card {
    @apply bg-dark-card/40 backdrop-blur-md border border-white/5 rounded-2xl p-6;
  }
}

/* SCROLLBAR PERSONALIZADA */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-primary/20 rounded-full hover:bg-primary/50 transition-colors;
}